$TTL {{ dns_ttl }}
@ IN SOA {{ dns_ns_fqdn }}. {{ dns_admin_rname }}. (
    {{ dns_zone_serial }} ; serial
    {{ dns_refresh }} ; refresh
    {{ dns_retry }} ; retry
    {{ dns_expire }} ; expire
    {{ dns_minimum_ttl }} ; minimum
)

@   IN NS {{ dns_ns_fqdn }}.

{% for record in dns_a_records %}
{{ record.ip.split('.')[-1] }} IN PTR {{ record.name }}.{{ dns_zone_name }}.
{% endfor %}
